<h1>Usage in Form</h1>

<form mat-dialog-content [formGroup]="form">
  <app-custom-input formControlName="myFormControl"></app-custom-input>
  <mat-form-field>
    <input matInput formControlName="two" placeholder="Type address name" required>
  </mat-form-field>
  <mat-form-field>
    <markdown-editor formControlName="markdown" placeholder="Markown editor" required></markdown-editor>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="two" placeholder="Type address name" required>
  </mat-form-field>
</form>

<h2>Variable in app.component</h2>

<p>
  {{form.get('myFormControl')?.value}}

<h3>Markdown</h3>
<p [innerHTML]="renderMarkdown()"></p>